body {  
    
      background: #f8f9fa; 
    
    }
    
/* #212529 
#f8f9fa */
     form {  
    
       width: 30%;  
    
       margin: 60px auto;  
    
       background: #e0dede;  
    
       padding: 60px 80px 60px 80px;  
    
       text-align: center;  
    
       -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
    
       box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
    
    }

    label {  
        
          display: block;  
        
          position: relative;  
        
          margin: 40px 0px; 
        
        }
        
        
         .label-txt {  
        
           position: absolute;  
        
           top: -1.6em;  
        
           padding: 10px;  
        
           font-family: sans-serif;  
        
           font-size: .8em;  
        
           letter-spacing: 1px;  
        
           color: black;  
        
           transition: ease .3s; 
        
        }
        
         .input {  
        
           width: 100%;  
        
           padding: 10px;  
        
           background: #e0e0e0;  
        
           border: 2px solid #212529 ;  
        
           outline: none;         
        }
        
        ::placeholder{
            color: #212529 ;
            opacity: 1;
        }
        button{
            color: #f8f9fa;
            border: none;
            background-color: #212529;
            display: inline-block;
            padding: 10px 20px;
        }